body {
    font-family: 'Inter', sans-serif; 
    background-color: #f4f2ec;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%; 
    position: relative; 
    box-sizing: border-box;
    flex-direction: row;
  }
  
  .logo {
    width: 250px; 
  }
  
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: #222222;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #533cdb;
  }  

header{
    background-color: black;
    color: #fff;
    margin-bottom: 20px;
}
.nav-bar{
    padding: 8px;
}
.nav-bar a{
    padding: 15px;
    display: inline;     
    color: #fff;
    text-decoration: none;
}

h1{
    margin-top: 70px;
    width: 250px;
    text-align: center;
    align-items: center;
    font-size: 28px;
    border-radius: 27%;
    margin-bottom: 70px;
}
